<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>apdol.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register User</servlet-name>
        <servlet-class>apdol.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>apdol.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>apdol.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.BankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lokasi</servlet-name>
        <servlet-class>apdol.servlet.LokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rekam lokasi</servlet-name>
        <servlet-class>apdol.servlet.RekamLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proses rekam lokasi</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editlokasi</servlet-name>
        <servlet-class>apdol.servlet.EditLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proses edit lokasi</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hapus lokasi</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>apdol.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.MataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rekam Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.RekamMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Rekam Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.EditMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Edit Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hapus Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesEditBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.EditBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesHapusBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.PejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamPejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamPejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamPejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamPejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KegiatanServlet</servlet-name>
        <servlet-class>apdol.servlet.KegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamKegiatanServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamKegiatanServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Output</servlet-name>
        <servlet-class>apdol.servlet.OutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Output</servlet-name>
        <servlet-class>apdol.servlet.EditOutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Edit Output</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditOutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses hapus output</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusOutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Rekam Ouput</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamOutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rekam Ouput</servlet-name>
        <servlet-class>apdol.servlet.RekamOutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rekam Register</servlet-name>
        <servlet-class>apdol.servlet.RekamRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Rekam User</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>apdol.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesEditUserServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesHapusUserServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.EditKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Edit Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hapus Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SatkerServlet</servlet-name>
        <servlet-class>apdol.servlet.SatkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamSatkerServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamSatkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesEditSatuanKerjaServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditSatuanKerjaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamSatuanKerjaServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamSatuanKerjaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesHapusSatkerServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusSatkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSatkerServlet</servlet-name>
        <servlet-class>apdol.servlet.EditSatkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramServlet</servlet-name>
        <servlet-class>apdol.servlet.ProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProgramServlet</servlet-name>
        <servlet-class>apdol.servlet.EditProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesEditProgramServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamProgramServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamProgramServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesHapusProgramServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CetakSPMServlet</servlet-name>
        <servlet-class>apdol.servlet.CetakSPMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitSPMServlet</servlet-name>
        <servlet-class>apdol.servlet.SubmitSPMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealisasiServlet</servlet-name>
        <servlet-class>apdol.servlet.RealisasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifikasiSPMServlet</servlet-name>
        <servlet-class>apdol.servlet.NotifikasiSPMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TolakSPMServlet</servlet-name>
        <servlet-class>apdol.servlet.TolakSPMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SP2DServlet</servlet-name>
        <servlet-class>apdol.servlet.SP2DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatalSP2DServlet</servlet-name>
        <servlet-class>apdol.servlet.BatalSP2DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CetakSP2DServlet</servlet-name>
        <servlet-class>apdol.servlet.CetakSP2DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoringSPMServlet</servlet-name>
        <servlet-class>apdol.servlet.MonitoringSPMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rekam Rincian Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.RekamRincianKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesHapusPejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusPejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.EditPejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesEditPejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditPejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rincian Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.RincianKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Rekam Rincian Kegaitan</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamRincianKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Rincian Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.EditRincianKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Edit Rincian Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditRincianKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Hapus Rincian Kegiatan</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusRincianKegiatanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register User</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lokasi</servlet-name>
        <url-pattern>/lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/maindo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rekam lokasi</servlet-name>
        <url-pattern>/rekam_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proses rekam lokasi</servlet-name>
        <url-pattern>/proses_rekam_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editlokasi</servlet-name>
        <url-pattern>/edit_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proses edit lokasi</servlet-name>
        <url-pattern>/proses_edit_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hapus lokasi</servlet-name>
        <url-pattern>/proses_hapus_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mata Anggaran</servlet-name>
        <url-pattern>/mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rekam Mata Anggaran</servlet-name>
        <url-pattern>/rekam_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Rekam Mata Anggaran</servlet-name>
        <url-pattern>/proses_rekam_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Mata Anggaran</servlet-name>
        <url-pattern>/edit_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Edit Mata Anggaran</servlet-name>
        <url-pattern>/proses_edit_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hapus Mata Anggaran</servlet-name>
        <url-pattern>/proses_hapus_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankPosServlet</servlet-name>
        <url-pattern>/bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamBankPosServlet</servlet-name>
        <url-pattern>/rekam_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamBankPosServlet</servlet-name>
        <url-pattern>/proses_rekam_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesEditBankPosServlet</servlet-name>
        <url-pattern>/proses_edit_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBankPosServlet</servlet-name>
        <url-pattern>/edit_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesHapusBankPosServlet</servlet-name>
        <url-pattern>/hapus_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PejabatServlet</servlet-name>
        <url-pattern>/pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamPejabatServlet</servlet-name>
        <url-pattern>/rekam_pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamPejabatServlet</servlet-name>
        <url-pattern>/proses_rekam_pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KegiatanServlet</servlet-name>
        <url-pattern>/kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamKegiatanServlet</servlet-name>
        <url-pattern>/rekam_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamKegiatanServlet</servlet-name>
        <url-pattern>/proses_rekam_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Output</servlet-name>
        <url-pattern>/output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Output</servlet-name>
        <url-pattern>/edit_output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Edit Output</servlet-name>
        <url-pattern>/proses_edit_output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses hapus output</servlet-name>
        <url-pattern>/proses_hapus_output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Rekam Ouput</servlet-name>
        <url-pattern>/proses_rekam_output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rekam Ouput</servlet-name>
        <url-pattern>/rekam_output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Rekam User</servlet-name>
        <url-pattern>/proses_rekam_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rekam Register</servlet-name>
        <url-pattern>/rekam_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesEditUserServlet</servlet-name>
        <url-pattern>/proses_edit_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edit_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesHapusUserServlet</servlet-name>
        <url-pattern>/proses_hapus_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Kegiatan</servlet-name>
        <url-pattern>/edit_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Edit Kegiatan</servlet-name>
        <url-pattern>/proses_edit_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hapus Kegiatan</servlet-name>
        <url-pattern>/proses_hapus_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SatkerServlet</servlet-name>
        <url-pattern>/satker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamSatkerServlet</servlet-name>
        <url-pattern>/rekam_satker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesEditSatuanKerjaServlet</servlet-name>
        <url-pattern>/proses_edit_satker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamSatuanKerjaServlet</servlet-name>
        <url-pattern>/proses_rekam_satker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesHapusSatkerServlet</servlet-name>
        <url-pattern>/proses_hapus_satker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSatkerServlet</servlet-name>
        <url-pattern>/edit_satker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramServlet</servlet-name>
        <url-pattern>/program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProgramServlet</servlet-name>
        <url-pattern>/edit_program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesEditProgramServlet</servlet-name>
        <url-pattern>/proses_edit_program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamProgramServlet</servlet-name>
        <url-pattern>/rekam_program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamProgramServlet</servlet-name>
        <url-pattern>/proses_rekam_program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesHapusProgramServlet</servlet-name>
        <url-pattern>/hapus_program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CetakSPMServlet</servlet-name>
        <url-pattern>/cetak_spm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitSPMServlet</servlet-name>
        <url-pattern>/submit_spm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealisasiServlet</servlet-name>
        <url-pattern>/realisasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifikasiSPMServlet</servlet-name>
        <url-pattern>/notifikasi_spm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TolakSPMServlet</servlet-name>
        <url-pattern>/tolak_spm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SP2DServlet</servlet-name>
        <url-pattern>/proses_sp2d</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatalSP2DServlet</servlet-name>
        <url-pattern>/batal_sp2d</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CetakSP2DServlet</servlet-name>
        <url-pattern>/cetak_sp2d</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoringSPMServlet</servlet-name>
        <url-pattern>/monitoring_spm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesHapusPejabatServlet</servlet-name>
        <url-pattern>/hapus_pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPejabatServlet</servlet-name>
        <url-pattern>/edit_pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesEditPejabatServlet</servlet-name>
        <url-pattern>/proses_edit_pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Rekam Rincian Kegaitan</servlet-name>
        <url-pattern>/proses_rekam_rincian_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rincian Kegiatan</servlet-name>
        <url-pattern>/rincian_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rekam Rincian Kegiatan</servlet-name>
        <url-pattern>/rekam_rincian_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Rincian Kegiatan</servlet-name>
        <url-pattern>/edit_rincian_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Edit Rincian Kegiatan</servlet-name>
        <url-pattern>/proses_edit_rincian_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Hapus Rincian Kegiatan</servlet-name>
        <url-pattern>/proses_hapus_rincian_kegiatan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
