<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>apdol.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamUser</servlet-name>
        <servlet-class>apdol.servlet.RekamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>apdol.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>apdol.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.AddBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBankPosPageServlet</servlet-name>
        <servlet-class>apdol.servlet.AddBankPosPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RekamUser</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBankPosServlet</servlet-name>
        <url-pattern>/AddBankPos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBankPosPageServlet</servlet-name>
        <url-pattern>/AddBankPosPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
