<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>apdol.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamUser</servlet-name>
        <servlet-class>apdol.servlet.RekamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>apdol.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>apdol.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.BankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lokasi</servlet-name>
        <servlet-class>apdol.servlet.LokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rekam lokasi</servlet-name>
        <servlet-class>apdol.servlet.RekamLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proses rekam lokasi</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editlokasi</servlet-name>
        <servlet-class>apdol.servlet.EditLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proses edit lokasi</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hapus lokasi</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusLokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>apdol.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.MataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rekam Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.RekamMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Rekam Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.EditMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proses Edit Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hapus Mata Anggaran</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusMataAnggaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesEditBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesEditBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.EditBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesHapusBankPosServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesHapusBankPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.PejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamPejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamPejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamPejabatServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamPejabatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KegiatanServlet</servlet-name>
        <servlet-class>apdol.servlet.KegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekamKegiatanServlet</servlet-name>
        <servlet-class>apdol.servlet.RekamKegiatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesRekamKegiatanServlet</servlet-name>
        <servlet-class>apdol.servlet.ProsesRekamKegiatanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RekamUser</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lokasi</servlet-name>
        <url-pattern>/lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/maindo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rekam lokasi</servlet-name>
        <url-pattern>/rekam_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proses rekam lokasi</servlet-name>
        <url-pattern>/proses_rekam_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editlokasi</servlet-name>
        <url-pattern>/edit_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proses edit lokasi</servlet-name>
        <url-pattern>/proses_edit_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hapus lokasi</servlet-name>
        <url-pattern>/proses_hapus_lokasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mata Anggaran</servlet-name>
        <url-pattern>/mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rekam Mata Anggaran</servlet-name>
        <url-pattern>/rekam_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Rekam Mata Anggaran</servlet-name>
        <url-pattern>/proses_rekam_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Mata Anggaran</servlet-name>
        <url-pattern>/edit_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proses Edit Mata Anggaran</servlet-name>
        <url-pattern>/proses_edit_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hapus Mata Anggaran</servlet-name>
        <url-pattern>/proses_hapus_mata_anggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankPosServlet</servlet-name>
        <url-pattern>/bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamBankPosServlet</servlet-name>
        <url-pattern>/rekam_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamBankPosServlet</servlet-name>
        <url-pattern>/proses_rekam_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesEditBankPosServlet</servlet-name>
        <url-pattern>/proses_edit_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBankPosServlet</servlet-name>
        <url-pattern>/edit_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesHapusBankPosServlet</servlet-name>
        <url-pattern>/hapus_bank_pos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PejabatServlet</servlet-name>
        <url-pattern>/pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamPejabatServlet</servlet-name>
        <url-pattern>/rekam_pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamPejabatServlet</servlet-name>
        <url-pattern>/proses_rekam_pejabat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KegiatanServlet</servlet-name>
        <url-pattern>/kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekamKegiatanServlet</servlet-name>
        <url-pattern>/rekam_kegiatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesRekamKegiatanServlet</servlet-name>
        <url-pattern>/proses_rekam_kegiatan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
